*{
    list-style-type: none;
  
}

#LoginMain{
    background-color: rgb(153,153,153);
    height: 100vh;
  display: flex;
   justify-content: center;
   align-items: center;
}

#LoginPage{
    text-align: center;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    border-radius: 15px;
}

.twitterLogo{
    background-color: white;
}

i{
    background-color: white;
}

.Loginheading{
    width: fit-content;
    background-color: white;
}

#LoginForm{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.LoginInput{
    width: 350px;
    font-size: 22px;
    background-color: white;
    border-radius: 15px;
    padding-left: 11px;
}

.LoginPassword{
    width: 350px;
   font-size: 22px;
   background-color: white;
    border-radius: 15px;
    padding-left: 11px;
}

.LoginButton{
    width: 350px;
   font-size: 25px;
   background-color: black;
    border-radius: 15px;
    color: white;
}






