*{
    box-sizing: border-box;
    list-style-type: none;
}

#AllTweetsMain{
    width: 100%;
    /* margin-top: 30px; */
    border: 1px solid whitesmoke
    
}

.Alltweet{
    border: solid 1px whitesmoke;  
    padding-left: 15px;
    padding-top: 10px;
}

#Alltweetlogo{
    /* width: 680px; */
    display: flex;
    justify-content: space-evenly;
    /* border: solid 2px black; */
}

#Alltweetlogo i{
    width: 20px;
    padding-right: 20px;
    font-size: 20px;
}
#Alltweetlogo button{
    width: 80px;
    /* margin-left: 0px; */
    background-color: white;
    border: 1px white solid;
}
.AlltweetP{
    /* width: 100px; */
  margin-left: 60px;
  width: max-content;
}

.Alltweet .AlltweetName{
    width: 150px;
    font-size: 30px;
    color: black;
}


.commentMessage{
    height: 80px;
    border: solid 2px whitesmoke;
}
.commentedBy{
    color: black;
    font-size: 28px;
}

.commentedMessage1{
    padding-left: 40px;
    /* width: 200px;
     */
     width: fit-content;
}

.commentDetail{
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px;
}

@media screen and (max-width : 700px) {

    .Alltweet{
        border: solid 1px whitesmoke;  
        padding-left: 5px;
        padding-top: 10px;
    }

    .Alltweet .AlltweetName{
        width: fit-content;
        font-size: 21px;
        color: black;
        margin-left: 7px;
    }

    .commentedBy{
        color: black;
        font-size: 21px;
        margin-left: 6px;
    }

    .commentMessage{
        height: 70px;
        border: solid 2px whitesmoke;
        padding-top: 8px;
    }
    
}



