*{
    /* box-sizing: border-box; */
    list-style-type: none;
  
}

#SignInMain{
    background-color: rgb(153,153,153);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#SignInPage{
    text-align: center;
    height: 500px;
    width: 800px;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
    background-color: white;
    border-radius: 15px;
}

.SignInLogo{
    background-color: white;
    
}
.twitterLogo1{
    margin-left:  0px;
   }

i{
    background-color: white;
}

.SignInheading{
    width: fit-content;
    background-color: white;
}

#SignInForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.SignInInput{
    width: 350px;
    font-size: 22px;
    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    outline: none;
}

.SignInPassword{
    width: 350px;
    font-size: 22px;
    background-color: white;
    border-radius: 15px;
    padding-left: 10px;
    outline: none;
}

.SignInButton{
    width: 350px;
    font-size: 25px;
    background-color: black;
    border-radius: 15px;
    color: white;
}






